.JoinLeague {
  color: #FFF;
  padding: 4px 12px;
}

.JoinLeague p {
  color: white;
}

.JoinLeague form {
  color: #FFF;
}

.JoinLeague td {
  vertical-align: text-top;
}

.JoinLeague th {
  text-align: left;
}

input[name="league_name"] {
  padding: 4px;
}

.JoinLeague_create-league-btn {
  background-color: #4EB8CE;
  border: none;
  color: #FFF;
  letter-spacing: 1px;
  margin-left: 8px;
  padding: 6px 12px;
}

.JoinLeague_create-league-btn:hover {
  transform: translateY(1px);
}

.JoinLeague_league-info {
  border-collapse: collapse;
  margin: 16px 0px;
}

.JoinLeague_league-info th {
  border: 1px solid #4EB8CE;
  padding: 4px;
}

.JoinLeague_league-name {
  border: 1px solid #4EB8CE;
  padding: 4px;
}

.JoinLeague_league-info > td {
  border: 1px solid #4EB8CE;
}

.JoinLeague_league-info tr {
  border: 1px solid #4EB8CE;
}

.JoinLeague_league-teammates td {
  padding: 4px;
  width: 100%;
}

.JoinLeague_join-league-btn {
  background-color: #4EB8CE;
  border-color: #4EB8CE;
  color: #FFF;
  letter-spacing: 1px;
  margin-left: 16px;
  padding: 6px 12px;
}

.JoinLeague_join-league-btn:focus {
  outline: 0
}