.League {
  border: 1px solid #FFF;
  color: #FFF;
}

.League_league-name {
  text-align: center;
  padding: 16px;
}

.League_league-rankings {
  border-collapse: collapse;
  margin-top: 8px;
}

.League_league-rankings th {
  text-align: left;
  border: 1px solid #4EB8CE;
  padding: 4px;
}

.League_league-rankings td {
  padding: 4px;
}