.Platform {
  background-color: #222431;
  min-width: 300px;
  min-height: 100vh;
}

.Platform nav {
  padding: 16px 8px;
}

.platformlinks {
  border: none;
  color: #FFF;
  background-color: #4EB8CE;
  margin-right: 8px;
  padding: 4px 12px;
}

.platformlinks-logout {
  letter-spacing: 1px;
  float: right;
}

.platformlinks:hover {
  cursor: pointer;
  transform: translateY(2px);
}

.platformlinks:focus {
  transform: translateY(4px);
}
