.Platform {
  background-color: #222431;
  min-width: 300px;
  min-height: 100vh;
}

.Platform nav {
  padding: 16px;
}

.Platform nav button {
  padding: 4px;
}

/* Nth-of-type() indicates what element position or # selected */
.platformlinks {
  margin-right: 8px;
}

.platformlinks-logout {
  float: right;
}
