input:-webkit-autofill {
  box-shadow: 0 0 0 50px #222431 inset;
  -webkit-box-shadow: 0 0 0 50px #222431 inset;
  -webkit-text-fill-color: #FFFFFF;
}

input:-webkit-autofill:focus, input:-webkit-autofill:active {
  box-shadow: 0 0 0 50px #222431 inset;
  -webkit-box-shadow: 0 0 0 50px #222431 inset;
  -webkit-text-fill-color: #FFFFFF;
}  

.Register {
  background-color: #222431;
  min-width: 300px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
}

.app-title {
  color: #4BBACA;
}

.login-link {
  align-self: center;
  color: #FFF;
  text-decoration: none;
}

.gsignin-container {
  text-align: center;
}

.gsignin-container > div {
  display: inline-block;
}

.separator {
  font-weight: 600;
  font-size: 16px;
  padding: 16px 0px 4px 0px;
  text-align: center;
  text-transform: uppercase;
}

.separator_content {
  color: #FFF;
}

.register-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-field {
  border-bottom: medium solid #4EB8CE;
  color: #58AEC1;
  font-size: 24px;
  padding: 7px;
}

.user:before {
  content: '\f007';
  font-family: 'Font Awesome\ 5 Free';
}

.email:before {
  content: '\f0e0';
  font-family: 'Font Awesome\ 5 Free';
}

.password {
  color: #4EB8CE;
}

.input-text, .input-password {
  border: 0px;
  background-color: #222431;
  color: white;
  font-size: 16px;
  margin: 16px 0px;
  outline: 0px;
  padding: 0px 8px 8px 8px;
  width: 200px;
}

.input-text:focus {
  border-color: #4EB8CE;
}

.register-button, .login-button {
  background-color: #4EB8CE;
  border: none;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 12px 64px;
  width: 235px;
}

.register-button:hover, .login-button:hover {
  cursor: pointer;
  transform: translateY(2px);
}

.register-button:focus, .login-button:focus {
  transform: translateY(4px);
}

.input-text::placeholder, .input-password::placeholder {
  color: #4EB8CE;
}
