.SocketChat {
  background-color: #222431;
  min-width: 300px;
  min-height: 100vh;
}

.SocketChat-headline {
  color: #FFFFFF;
  text-align: center;
}

.chat-box {
  border: 2px solid #FFFFFF;
  height: 75vh;
  min-width: 500px;
  max-width: 975px;
  margin: 0 auto;
}

.chatbox-container {
  border-left: 2px solid #FFFFFF;
  float: right;
  height: 100%;
  overflow-y: hidden;
  width: 75%;
}

.formChat {
  display: flex;
  border-top: 2px solid #FFFFFF;
  justify-content: center;
  padding: 8px;
}

.send-button {
  background-color: #4EB8CE;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px;
  width: 100px;
}

.send-button:hover {
  background-color: #3E93A4;
  transform: none;
}

.send-button:focus {
  transform: none;
}

.formChat input[type="text"] {
  border: none;
  font-size: 16px;
  padding: 8px;
  width: 600px;
  margin-right: 8px;
}