.SocketChat {
  background-color: #222431;
  min-width: 300px;
}

.SocketChat-headline {
  color: #FFFFFF;
  text-align: center;
}

.chat-box {
  border: 2px solid #FFFFFF;
  height: 75vh;
  min-width: 500px;
  max-width: 975px;
  margin: 0 auto;
  display: flex;
}

.active-users {
  width: 30%;
}

.chatbox-container {
  border-left: 2px solid #FFFFFF;
  overflow-y: hidden;
}

.formChat {
  border-top: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.send-button {
  background-color: #4EB8CE;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px;
  width: 10%;
}

.send-button:hover {
  background-color: #3E93A4;
  transform: none;
}

.send-button:focus {
  transform: none;
}

.formChat input[type="text"] {
  border: none;
  font-size: 16px;
  padding: 8px;
  width: 90%;
  margin-right: 8px;
}